POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

DB_PORT=
REDIS_PORT=
USER_API_PORT=
IOT_API_PORT=
FRONTEND_PORT=

INGEST_PORT=
LATEST_TTL_SECONDS=0

VITE_API_USER_BASE_URL=/iot-api/
VITE_API_IOT_BASE_URL=/api/user/

GMS_KEY=

ACTIVE_TRY_KEY=ingest:active_try
REDIS_AGG_PREFIX=agg:try
AGG_METRICS=

